<div>
  <h1>All Posts</h1>
  <%= link_to 'Add Post', new_post_path, class: 'btn btn-success' %>
</div>

<div class="row col-md-4">
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>Title</th>
      </tr>
    </thead>
    <tbody>
      <% @posts.each do |post| %>
        <tr>
          <th>
            <%= link_to post.title, post_path(post) %>
          </th>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
