<!DOCTYPE html>
<html>
  <head>
    <title>RailsDirectUpload</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid">
      <div class="container-fluid alert-bar">
        <div class="row">
          <div class="col-md-12">
            <div id="flash_container">  
              <% if alert %>
                <div class="alert alert-danger"><%= alert.html_safe %></div>
              <% end %>
              <% if notice %>
                <div class="alert alert-success"><%= notice %></div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="row"> 
        <div class="col-md-12">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
